* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0088cc;
  --body-background: #eeeeee;
  --header-background: #b8b8b8;
  --text-color: var(--body-background);
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--body-background);
}
